<div mat-dialog-title>Book information</div>
<div mat-dialog-content class="limiter container-login100 wrap-login100">
  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()" class="row g-3">
    <div class="col-md-6">
      <label for="name" class="form-label">Title</label>
      <input type="text" class="form-control" id="name" formControlName="title">
    </div>
    <div class="col-md-3">
      <label for="author" class="form-label">Author</label>
      <input type="text" class="form-control" id="author" formControlName="author">
    </div>
    <div class="col-md-3">
      <label for="isbn" class="form-label">ISBN</label>
      <input type="text" class="form-control" id="isbn" formControlName="isbn">
    </div>
    <div class="col-md-3">
      <label for="nopages" class="form-label">No Of Pages</label>
      <input type="text" class="form-control" id="nopages" formControlName="noPage">
    </div>
    <div class="col-md-3">
      <label for="size" class="form-label">Size</label>
      <input type="text" class="form-control" id="size" formControlName="size">
    </div>
    <div class="col-md-3 mt-4">
      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select [(value)]="data.item.categoryId">
          <mat-option *ngFor="let item of data.categories" [value]="item.id">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-2">
      <label for="price" class="form-label">Price</label>
      <input type="text" class="form-control" id="price" formControlName="price">
    </div>
    <div class="col-md-1">
      <label for="discount" class="form-label">Discount</label>
      <input type="text" class="form-control" id="discount" formControlName="discount">
    </div>
    <div class="col-6">
      <label for="publisher" class="form-label">Publisher</label>
      <input type="text" class="form-control" id="publisher" formControlName="publisher">
    </div>
    <div class="col-6">
      <label for="publisher" class="form-label">Publication Day</label>
      <input type="date" class="form-control" formControlName="publicationDate">
    </div>
    <div class="col-12">
      <label for="description" class="form-label">Description</label>
      <input type="text" class="form-control" id="description" formControlName="description">
    </div>
    <div *ngIf="mode == 'Add'">
      <div class="col-12">
        <div class="mb-3">
          <label for="formFileMultiple" class="form-label">Choose Images</label>
          <input class="form-control" type="file" id="formFile" (change)="handleFileInput($event.target.files)">
        </div>
      </div>
    </div>
    <div class="col-12 mt-3">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>