<div mat-dialog-title>Book information</div>
<div mat-dialog-content class="limiter container-login100 wrap-login100 ">
                    <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()" class="row g-3">
                        <div class="col-md-6">
                          <label for="name" class="form-label">Name</label>
                          <input type="text" class="form-control" id="name">
                        </div>
                        <div class="col-md-6">
                            <label for="author" class="form-label">Author</label>
                            <input type="text" class="form-control" id="author">
                          </div>
                          <div class="col-md-6">
                            <label for="nopages" class="form-label">No Of Pages</label>
                            <input type="text" class="form-control" id="nopages">
                          </div>
                          <div class="col-md-6">
                              <label for="size" class="form-label">Size</label>
                              <input type="text" class="form-control" id="size">
                            </div>
                        <div class="col-12">
                          <label for="publisher" class="form-label">Publisher</label>
                          <input type="text" class="form-control" id="publisher">
                        </div>
                        <div class="col-12">
                          <label for="description" class="form-label">Description</label>
                          <input type="text" class="form-control" id="description">
                        </div>
                        <div class="col-12">
                        <div class="mb-3">
                            <label for="formFileMultiple" class="form-label">Choose Images</label>
                            <input class="form-control" type="file" id="formFileMultiple" multiple>
                          </div>
                        </div>
                        <div class="col-12">
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                </form>
</div>