<!-- slider Area Start-->
<div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" style="background-image: url(assets/img/hero/category.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>About</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider Area End-->

<!-- product list part start-->
<section class="about_us padding_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="about_us_content">
                    <h5>Our Mission</h5>
                    <h3>Connect book lovers community and bring knowledge within books to everyone.</h3>
                    <div class="about_us_video">
                        <img src="assets/img/about_us_video.png" alt="#" class="img-fluid">
                        <a class="about_video_icon popup-youtube"
                            href="https://www.youtube.com/watch?v=8H9jTlrpl4s"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product list part end-->

<!-- feature part here -->
<section class="feature_part section_padding">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <div class="feature_part_tittle">
                    <h3>Estore is an eCommerce book store satisfies your curiosity about the book world</h3>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="feature_part_content">
                    <p>We supplies a variety range of book including many types for many age range. Our target is to
                        achieve the high standard of online shopping book lovers.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature_part">
                    <img src="assets/img/icon/feature_icon_1.svg" alt="#">
                    <h4>Employee Support</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature_part">
                    <img src="assets/img/icon/feature_icon_2.svg" alt="#">
                    <h4>Online Order</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature_part">
                    <img src="assets/img/icon/feature_icon_3.svg" alt="#">
                    <h4>Fast Delivery</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature_part">
                    <img src="assets/img/icon/feature_icon_4.svg" alt="#">
                    <h4>Product with Gift</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- feature part end -->

<!-- client review part here -->
<section class="client_review">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="client_review_slider owl-carousel">
                    <div class="single_client_review">
                        <div class="client_img">
                            <img src="assets/img/client.png" alt="#">
                        </div>
                        <p>"When I have a little money, I buy books; and if I have any left, I buy food and clothes."
                        </p>
                        <h5>- Erasmus</h5>
                    </div>
                    <div class="single_client_review">
                        <div class="client_img">
                            <img src="assets/img/client_1.png" alt="#">
                        </div>
                        <p>"Books are the quietest and most constant of friends; they are the most accessible and wisest
                            of counselors, and the most patient of teachers."</p>
                        <h5>- Charles W. Eliot</h5>
                    </div>
                    <div class="single_client_review">
                        <div class="client_img">
                            <img src="assets/img/client_2.png" alt="#">
                        </div>
                        <p>"That’s the thing about books. They let you travel without moving your feet."</p>
                        <h5>- Jhumpa Lahiri</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- client review part end -->

<!-- subscribe part here -->
<section class="subscribe_part section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="subscribe_part_content">
                    <h2>Get promotions & updates!</h2>
                    <p>Seamlessly empower fully researched growth strategies and interoperable internal or “organic”
                        sources credibly innovate granular internal .</p>
                    <div class="subscribe_form">
                        <input type="email" placeholder="Enter your mail">
                        <a href="#" class="btn_1">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- subscribe part end -->