<div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" style="background-image: url(assets/img/hero/category.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Cart</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider Area End-->

<!--================Cart Area =================-->
<section class="cart_area section_padding">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cart-item" id="none" *ngFor="let item of cart.cartBooks">
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="{{item.book.bookImages.length ? item.book.bookImages[0].imageSrc : 'assets/img/categori/product5.png'}}" alt="" />
                                    </div>
                                    <div class="media-body">
                                        <p class="book-name">{{item.book.title}}</p>
                                        <p class="author">{{item.book.author}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5 class="book-price">${{item.book.pricePerUnit | number: '1.2-2'}}</h5>
                            </td>
                            <td>
                                <div class="product_count">
                                    <span class="input-number-decrement" style="cursor: pointer;" (click)="decrease(item)"> <i class="ti-minus"></i></span>
                                    <input class="input-number quantity" type="text" value="1" min="0" max="10" id="quantity" [(ngModel)]="item.quantity" (ngModelChange)="calculateTotal()">
                                    <span class="input-number-increment" style="height: 40px; cursor: pointer;" (click)="increase(item)"> <i class="ti-plus"></i></span>
                                </div>
                            </td>
                            <td>
                                <div *ngIf="item.book.actualPrice">
                                    <h5 class="total-price" style="color: red; text-decoration: line-through;">${{item.book.pricePerUnit*item.quantity | number: '1.2-2'}}</h5>
                                    <h5 class="total-price">${{item.book.actualPrice*item.quantity | number: '1.2-2'}}</h5>
                                </div>
                                <div *ngIf="!item.book.actualPrice">
                                    <h5 class="total-price">${{item.book.pricePerUnit*item.quantity | number: '1.2-2'}}</h5>
                                </div>
                                
                            </td>
                        </tr>
                        <!-- <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="assets/img/arrivel/arrivel_2.png" alt="" />
                                    </div>
                                    <div class="media-body">
                                        <p>Gone with the Wind</p>
                                        <p>Margaret Mitchell</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>$360.00</h5>
                            </td>
                            <td>
                                <div class="product_count">
                                    <span class="input-number-decrement" style="cursor: pointer;"> <i class="ti-minus"></i></span>
                                    <input class="input-number" type="text" value="1" min="0" max="10">
                                    <span class="input-number-increment" style="height: 40px; cursor: pointer;"> <i class="ti-plus"></i></span>
                                </div>
                            </td>
                            <td>
                                <h5>$720.00</h5>
                            </td>
                        </tr> -->
                        <tr class="bottom_button">
                            <td>
                                <a class="btn_1" (click)="updateCart()">Update Cart</a>
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="cupon_text float-right">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Choose Coupon</mat-label>
                                        <mat-select [(value)]="selectedPromotion" (selectionChange)="choosePromotion()">
                                          <mat-option value="">None</mat-option>
                                          <mat-option [value]="option.id" *ngFor="let option of promotions" [disabled]="check(option)">{{ option.discount | number: '1.2-2'}}% - need {{ option.loyalPoint ? option.loyalPoint : 0 }}pts, min value {{ option.minAcceptValue ? option.minAcceptValue : 'none' }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                <h5>${{total | number: '1.2-2'}}</h5>
                            </td>
                        </tr>
                        <tr *ngIf="selectedPromotion">
                            <td></td>
                            <td></td>
                            <td>
                                <h5>After use coupon</h5>
                            </td>
                            <td>
                                <h5>${{total - discount | number: '1.2-2'}}</h5>
                            </td>
                        </tr>
                        <tr class="shipping_area">
                            <td></td>
                            <td></td>
                            <td>
                                <h5>Shipping</h5>
                            </td>
                            <td>
                                <div class="shipping_box">
                                    <ul class="list">
                                        <li class="active">
                                            Shipping fee: ${{shippingPrice | number: '1.2-2'}}
                                        </li>
                                    </ul>
                                    <h6>
                                        Enter Address:
                                    </h6>
                                    <input class="post_code" type="textarea" placeholder="Address" [(ngModel)]="address" required (keyup)="checkAddress()">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <h5>Total</h5>
                            </td>
                            <td>
                                <h5>${{1 + total - discount + shippingPrice | number: '1.2-2'}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="checkout_btn_inner float-right">
                    <a class="btn_1 mr-5" [routerLink]="[ '/book-list' ]">Continue Shopping</a>
                    <a class="btn_1 checkout_btn_1" (click)="updateOrder()">Proceed</a>
                </div>
            </div>
        </div>
    </div>
</section>