<div id="preloader-active" *ngIf="isLoading">
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="preloader-inner position-relative">
      <div class="preloader-circle"></div>
      <div class="preloader-img pere-text">
        <img src="assets/img/logo/logo.png" alt="">
      </div>
    </div>
  </div>
</div>

  <ng-container *ngIf="!isAdminUI">
  <app-header [loginAs]='currentUser ? currentUser.role : 0'></app-header>
  </ng-container>
  <router-outlet></router-outlet>
  <ng-container *ngIf="!isAdminUI">
  <app-footer></app-footer>
  </ng-container>
