<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header ">
            <div class="header-top top-bg d-none d-lg-block">
                <div class="container-fluid">
                    <div class="col-xl-12">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="header-info-left d-flex">
                                <div class="flag">
                                    <img src="assets/img/icon/header_icon.png" alt="">
                                </div>
                                <div class="select-this">
                                    <div class="select-itms">
                                        <select name="select" id="select1">
                                            <option value="">USA</option>
                                            <option value="">SPN</option>
                                            <option value="">CDA</option>
                                            <option value="">USD</option>
                                        </select>
                                    </div>
                                </div>
                                <ul class="contact-now">
                                    <li>+777 2345 7886</li>
                                </ul>
                            </div>
                            <div class="header-info-right">
                                <ul>
                                    <li><a [routerLink]="[ '/account', [] ]">My Account</a></li>
                                    <li><a [routerLink]="[ '/book-list', [] ]">Wish List</a></li>
                                    <li><a [routerLink]="[ '/book-list', [] ]">Shopping</a></li>
                                    <li><a [routerLink]="[ '/cart', [] ]">Cart</a></li>
                                    <li><a [routerLink]="[ '/check-out', [] ]">Check Out</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                            <div class="logo">
                                <a [routerLink]="[ '/home', [] ]">
                                    <img src="assets/img/logo/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a [routerLink]="[ '/home', [] ]">Home</a></li>
                                        <li><a [routerLink]="[ '/category', [] ]">Category</a>
                                            <ul class="submenu">
                                                <li><a [routerLink]="[ '/book-list', ['novel'] ]">Novels</a></li>
                                                <li><a [routerLink]="[ '/book-list', ['manga'] ]">Manga</a></li>
                                            </ul>
                                        </li>
                                        <li class="hot"><a [routerLink]="[ '/book-list', [] ]">Latest</a></li>
                                        <li><a>Blog</a>
                                            <ul class="submenu">
                                                <li><a [routerLink]="[ '/blog', [] ]">Blog</a></li>
                                                <li><a [routerLink]="[ '/blog-detail', [] ]">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Pages</a>
                                            <ul class="submenu">
                                                <li><a href="login.html">Login</a></li>
                                                <li><a href="cart.html">Cart</a></li>
                                                <li><a href="elements.html">Element</a></li>
                                                <li><a href="about.html">About</a></li>
                                                <li><a href="confirmation.html">Confirmation</a></li>
                                                <li><a href="cart.html">Shopping Cart</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                            </ul>
                                        </li>
                                        <li><a [routerLink]="[ '/contact', [] ]">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                            <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                <li class="d-none d-xl-block">
                                    <div class="form-box f-right ">
                                        <input type="text" name="Search" placeholder="Search books...">
                                        <div class="search-icon">
                                            <i class="fas fa-search special-tag"></i>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-none d-xl-block">
                                    <div class="favorit-items">
                                        <a [routerLink]="[ '/book-list', [] ]">
                                            <i class="far fa-heart"></i>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping-card">
                                        <a [routerLink]="[ '/cart', [] ]"><i class="fas fa-shopping-cart"></i></a>
                                    </div>
                                </li>

                                <li class="d-none d-lg-block" *ngIf="loginAs == 2"> <a (click)="navigateToAdminPage()"
                                        class="btn header-btn">Admin</a></li>
                                <li class="d-none d-lg-block"> <a (click)="onClick()" class="btn header-btn">{{ loginAs
                                        == 0 ? 'Sign in' : 'Sign out'}}</a></li>
                            </ul>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>