<div mat-dialog-title>Category information</div>
<div mat-dialog-content>
    <div class="col-md-12">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="this.data.item.name">
    </div>
    <div class="col-md-12">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" rows="4" [(ngModel)]="this.data.item.description"></textarea>
    </div>
    <div class="col-12 mt-3">
        <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
    </div>
</div>